*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #536779;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}
body.lock {
  overflow: hidden;
}

a,
button,
svg,
:after,
input[type=search],
input[type=button] {
  transition: all 0.2s ease;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

.btn {
  display: inline-block;
  height: 79px;
  padding: 0 25.5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 3.4375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #98C5EB;
  border-radius: 150px;
  border: 1px solid transparent;
}
.btn:hover {
  background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #F79781;
}
.btn:focus {
  outline: none;
  border: 1px solid #F79781;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header#header {
  border-bottom: 2px solid #D3DDE6;
  padding-top: 23px;
}
header#header .wrap_menu {
  display: flex;
  flex-direction: column;
}
header#header .menu_top_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header#header .menu_top_wrap {
  justify-content: flex-start;
  margin-bottom: 46px;
}
header#header .menu_top_wrap .logo {
  margin-right: 285.62px;
}
header#header .menu_top_wrap .address {
  display: flex;
  align-items: center;
  margin-right: 31px;
}
header#header .menu_top_wrap .phone {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
header#header .menu_top_wrap a {
  color: #264158;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  line-height: 2.1875rem;
  display: flex;
  align-items: center;
}
header#header .menu_top_wrap a:hover {
  color: #F79781;
}
header#header .menu_top_wrap a:hover .icon {
  fill: #F79781;
}
header#header .menu_top_wrap .icon {
  margin-right: 12px;
}
header#header .main_menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header#header .main_menu ul li {
  position: relative;
  margin-right: 65px;
  padding-bottom: 28px;
}
header#header .main_menu ul li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 6px;
  background-color: transparent;
  border-radius: 150px;
  text-decoration: underline;
}
header#header .main_menu ul li:last-of-type {
  font-weight: 700;
  margin-right: 0;
}
header#header .main_menu ul li:last-of-type a {
  display: flex;
}
header#header .main_menu ul li:last-of-type svg {
  margin-left: 10px;
}
header#header .main_menu ul li a {
  position: relative;
  color: #264158;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  line-height: 3rem;
}
header#header .main_menu ul li a.header_wallet {
  color: #536779;
}
header#header .main_menu ul li:hover::after {
  background-color: #F79781;
}
header#header.scroll {
  height: 86px;
  -webkit-box-shadow: 0 0 5px #5474FD;
  box-shadow: 0 0 5px #5474FD;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
header#header.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(84, 116, 253, 0.7);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section#contacts {
  padding-top: 150px;
}
section#contacts h1 {
  font-family: "Cormorant", sans-serif;
  text-transform: uppercase;
  color: #264158;
  font-size: 3.75rem;
  line-height: 3.4375rem;
  margin-bottom: 64px;
}
section#contacts .contacts_section_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
section#contacts .contacts_wrap {
  display: flex;
  max-width: 739px;
  width: 100%;
  height: 458px;
  background-color: #F9FAFB;
  padding: 58px 53px 50px 53px;
}
section#contacts .contacts_wrap a {
  color: #536779;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  line-height: 1.67625rem;
  display: flex;
  align-items: center;
}
section#contacts .contacts_wrap a:hover .icon_contacts {
  fill: #F79781;
}
section#contacts .contacts_wrap a:hover {
  color: #F79781;
}
section#contacts .contacts_wrap .contacts_icons {
  display: flex;
  align-items: center;
}
section#contacts .contacts_wrap .contacts_icons svg {
  margin-right: 16px;
}
section#contacts .contacts_wrap .contacts_icons .phone_icon_bold {
  font-weight: 700;
}
section#contacts .contacts_wrap p {
  font-weight: 700;
  color: #536779;
  line-height: 2.1875rem;
  font-size: 1.375rem;
  margin-bottom: 5px;
}
section#contacts .cont_left_wrap div,
section#contacts .cont_right_wrap div {
  margin-bottom: 50px;
}
section#contacts .cont_left_wrap div:last-child,
section#contacts .cont_right_wrap div:last-child {
  margin-bottom: 0;
}
section#contacts .cont_left_wrap {
  margin-right: 71px;
}
section#contacts .cont_right_wrap a {
  text-decoration: underline;
}
section#contacts .contacts_map_wrap {
  max-width: 628px;
  width: 100%;
  height: 458px;
}
section#contacts .contacts_map_wrap p {
  position: relative;
  color: #264158;
  font-size: 1.25rem;
  line-height: 3.4375rem;
  margin-bottom: 10px;
}
section#contacts .contacts_map_wrap .wrap_map {
  overflow: hidden;
  max-width: 628px;
  width: 100%;
  height: 393px;
  border-bottom-right-radius: 60% 100%;
}
section#contacts .contacts_map_wrap .popup {
  display: flex;
  flex-direction: column;
  z-index: 27;
}
section#contacts .contacts_map_wrap .popup p {
  font-size: 1.125rem;
  line-height: 1rem;
  margin-bottom: 5px;
}
section#contacts .contacts_map_wrap .popup img {
  width: 50px;
  height: 50px;
  align-self: center;
  margin-bottom: 15px;
}
section#contacts .contacts_map_wrap .map_arrow::after {
  display: block;
  content: url(@/assets/images/map-arrow.svg);
  width: 138px;
  height: 95px;
  position: absolute;
  top: 45%;
  left: 36%;
  z-index: 26;
}
section#contacts #map {
  height: 393px;
  z-index: 25;
  position: relative;
}
section#contacts #map img {
  object-fit: cover;
  object-position: 35.5% 50%;
}
section#contacts #map .opacity {
  opacity: 0.9;
}

section#contact_form {
  padding-bottom: 150px;
}
section#contact_form .wrap_p_form {
  max-width: 511px;
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
}
section#contact_form .wrap_p_form {
  max-width: 511px;
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
}
section#contact_form form {
  display: flex;
  justify-content: space-between;
}
section#contact_form input[type=text],
section#contact_form input[type=tel] {
  color: #99C1E2;
  border: 1px solid #99C1E2;
  height: 78px;
  max-width: 320px;
  width: 100%;
  border-radius: 150px;
  padding-left: 61px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 3.4375rem;
  text-transform: uppercase;
}
section#contact_form input[type=text]::placeholder,
section#contact_form input[type=tel]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D3DDE6;
  opacity: 1;
  /* Firefox */
}
section#contact_form input[type=text]:-ms-input-placeholder,
section#contact_form input[type=tel]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: D3DDE6;
}
section#contact_form input[type=text]::-ms-input-placeholder,
section#contact_form input[type=tel]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: D3DDE6;
}
section#contact_form input[type=text]:focus,
section#contact_form input[type=tel]:focus {
  outline: none;
  border: 1px solid #F79781;
}

footer#footer {
  padding-top: 50px;
  padding-bottom: 211px;
  border-top: 2px solid #D3DDE6;
  display: flex;
}
footer#footer .footer_upper_line {
  display: flex;
  justify-content: flex-start;
}
footer#footer .wrap_foot_menu {
  display: flex;
  margin-right: 80px;
}
footer#footer .footer_menu_second {
  margin-right: 40px;
}
footer#footer .footer_menu_second li {
  margin-bottom: 24px;
}
footer#footer .footer_menu_first li {
  margin-bottom: 24px;
}
footer#footer .footer_menu_first li:last-of-type {
  font-weight: 700;
}
footer#footer .footer_menu_first li:last-of-type svg {
  margin-left: 15px;
}
footer#footer .footer_menu_third {
  margin-bottom: 15px;
}
footer#footer .footer_menu_third li a {
  line-height: 2.4375;
  font-size: 1.25rem;
}
footer#footer .socials ul {
  display: flex;
}
footer#footer ul {
  list-style: none;
}
footer#footer ul li a {
  color: #264158;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  line-height: 1.67625rem;
  display: flex;
  align-items: center;
}
footer#footer ul li a:hover {
  color: #F79781;
}
footer#footer ul li a:hover .footer_wallet {
  fill: #F79781;
}
footer#footer .footer_soc_wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 60px;
  background-color: #D3DDE6;
  border-radius: 5px;
  margin-right: 25px;
}
footer#footer .footer_soc_wrap svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer#footer .footer_soc_wrap:hover svg {
  fill: #F79781;
}
footer#footer .footer_logo {
  margin-right: 215.62px;
}
footer#footer .wrap_soc_menu {
  font-weight: 700;
}
footer#footer .container {
  position: relative;
}
footer#footer .footer_contacts_wrap {
  margin-bottom: 25.88px;
  position: absolute;
  top: 118px;
  left: 0;
}
footer#footer .footer_contacts_wrap a {
  color: #536779;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  line-height: 1.67625rem;
  display: flex;
  align-items: center;
}
footer#footer .footer_contacts_wrap a:hover {
  color: #F79781;
}
footer#footer .footer_contacts_wrap a:hover .icon_footer {
  fill: #F79781;
}
footer#footer .footer_contacts_wrap div {
  margin-bottom: 20px;
}
footer#footer .footer_contacts_wrap div svg {
  margin-right: 15px;
}
footer#footer .footer_contacts_wrap div svg.map_icon_mg {
  margin-right: 20px;
}
footer#footer button {
  position: absolute;
  top: 328.88px;
  left: 0;
}

.hamb_menu {
  display: none;
}