// $font_family: 'Montserrat', sans-serif;
// $font_family: 'Cormorant', sans-serif;
// $font_family: 'Arsenal', sans-serif;

// @import 'parts/reset';
// @import 'hamburger';


// .bgimg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


@charset "UTF-8";
/* montserrat-300 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-300.woff") format("woff"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v24-latin_cyrillic-ext_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* cormorant-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cormorant/cormorant-v16-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant/cormorant-v16-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant/cormorant-v16-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/cormorant/cormorant-v16-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/cormorant/cormorant-v16-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/cormorant/cormorant-v16-latin_cyrillic-ext_cyrillic-700.svg#Cormorant") format("svg");
  /* Legacy iOS */
}
/* arsenal-700italic - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Arsenal";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700italic.woff2") format("woff2"), url("../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700italic.woff") format("woff"), url("../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700italic.ttf") format("truetype"), url("../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700italic.svg#Arsenal") format("svg");
  /* Legacy iOS */
}

/* arsenal-700 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: "Arsenal";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/arsenal/arsenal-v12-latin_cyrillic-ext_cyrillic-700.svg#Arsenal') format('svg'); /* Legacy iOS */
  }




@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?geglgo");
  src: url("../fonts/icons/icomoon.eot?geglgo#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?geglgo") format("truetype"), url("../fonts/icons/icomoon.woff?geglgo") format("woff"), url("../fonts/icons/icomoon.svg?geglgo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-facebook-f:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-youtube-play:before {
  content: "";
}


// RESET

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

$font_family: 'Montserrat', sans-serif;
$text_color: #536779;
$font_size: 1.375rem;
$line_height: 2.1875rem;
// $background_color_white: #232323;

$base_fz: 16;

@mixin fz($size_in_px) {
    font-size:($size_in_px/$base_fz)+rem;
}

body {
    font-family: $font_family;
    color: $text_color;
    font-size: $font_size;
    line-height: $line_height;
    &.lock {
        overflow: hidden;
    }
}

a,
button,
svg,
:after,
img,
input[type="search"],
input[type="button"] {
    transition: all .2s ease;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: top;
}

h1 {
    color: #264158;
    @include fz(60);
    line-height: 3.4375rem;
    font-family: 'Cormorant', sans-serif;
    text-transform: uppercase;
}

input[type=text],
input[type=tel] {
    color: #99C1E2;
    border: 1px solid #99C1E2;
    height: 78px;
    max-width: 320px;
    width: 100%;
    border-radius: 150px;
    padding-left: 61px;
    padding-right: 20px;
    font-family: $font_family;
    font-weight: 700;
    @include fz(18);
    line-height: 3.4375rem;
    text-transform: uppercase;
    // opacity: 1;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #D3DDE6;
        opacity: 1; /* Firefox */
        }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: D3DDE6;
        }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: D3DDE6;
    }
    &:focus {
        outline: none;
        border: 1px solid #F79781;
    }
    &:first-of-type {
        text-transform: none;
    }
}

.btn {
    display: inline-block;
    height: 79px;
    padding: 0 25.5px;
    // color: #fff;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 3.4375rem;
    font-family: $font_family;
    font-weight: 700;
    @include fz(18);
    // letter-spacing: 1px;
    background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #98C5EB;
    border-radius: 150px;
    border: 1px solid transparent;
    // outline: none;
    &:hover {
        // background-position: left top;
        // color: #F79781;
        background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #F79781;

    }
    //focus на кнопці — під питанням чи його саме таким робити чи удалити і лишити той що за замовчуванням?
    &:focus {
        outline: none;
        border: 1px solid #F79781;
    }
}

.btn_m {
    max-width: 320px;
    width: 100%;
}

.btn_red {
    // color: #F79781;
    max-width: 354px;
    width: 100%;
    background-color: #F79781;
    box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
    @include fz(30);
    height: 98px;
    &:hover {
        // background-position: left top;
        // color: #F79781;
        background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), #98C5EB;

    }
    //focus на кнопці — під питанням чи його саме таким робити чи удалити і лишити той що за замовчуванням?
    &:focus {
        outline: none;
        border: 1px solid #98C5EB;
    }
}

// .flex_row_reverse {
//     flex-direction: row-reverse;
// }


// <<===========================HEADER===========================>>

header#header {
    border-bottom: 2px solid #D3DDE6;
    padding-top: 23px;
    position: fixed;
    width: 100%;
    z-index: 28;
    // background-color: #FFF;
    // padding-bottom: 28px;
    & .wrap_menu {
        display: flex;
        flex-direction: column;
    }
    & .menu_top_wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    & .menu_top_wrap{
        justify-content: flex-start;
        margin-bottom: 46px;
        // justify-content: space-between; //for mobile when delete margin-right
        & .logo {
            margin-right: 285.62px;
        }
        & .address {
            display: flex;
            align-items: center;
            margin-right: 31px;
        }
        & .phone {
            display: flex;
            align-items: center;
            margin-right: 24px;
        }
        & a {
            color: #264158;
            text-decoration: none;
            font-family: $font_family;
            font-size: $font_size;
            line-height: 2.1875rem;
            display: flex;
            align-items: center;
            &:hover {
                color: #F79781;
            }
            &:hover .icon {
                fill: #F79781;
            }
        }
        .icon {
            margin-right: 12px;
        }
    }
    & .main_menu {
        & ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // justify-content: flex-end;
            & li {
                position: relative;
                // justify-content: space-between; //for mobile when delete margin-right
                margin-right: 65px;
                padding-bottom: 28px;
                // &::after {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     left: 0;
                //     bottom: -4px;
                //     width: 100%;
                //     height: 6px;
                //     // background-color: transparent;
                //     border-radius: 150px;
                //     text-decoration: underline;
                // }
                &:last-of-type {
                    // color: #536779;
                    font-weight: 700;
                    margin-right: 0;
                    & a {
                        display: flex;
                        &.active::after {
                            bottom: -32px;
                        }
                        &:hover::after {
                            transition: all 0s ease;
                            bottom: -32px;
                        }
                    }
                    & svg {
                        margin-left: 15px;
                    }
                }
                & a {
                    position: relative;
                    color: #264158;
                    text-decoration: none;
                    font-family: $font_family;
                    font-size: $font_size;
                    line-height: 3rem;
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: -42.5px;
                        width: 100%;
                        height: 6px;
                        // background-color: transparent;
                        border-radius: 150px;
                        text-decoration: underline;
                        transition: all 0s ease;
                    }
                    &.active::after  {
                        background-color: #F79781;  
                    }
                    &.header_wallet {
                        color: #536779;
                    }
                    &:focus {
                        // outline: none;
                        // border: 1px solid #fff;
                    }
                    &:hover::after {
                        background-color: #F79781;
                        transition: all 0s ease;
                    }
                }
                &:hover::after {
                    // background-color: #F79781;
                }

            }
        }
    }
    &.scroll {
        height: 86px;
        -webkit-box-shadow: 0 0 5px #5474FD;
                box-shadow: 0 0 5px #5474FD;
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
    &.fixed {
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        // z-index: 10;
        background-color: #fff;
        // background: rgba(84, 116, 253, 0.7);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all .2s ease;
    }

}


// <<===========================SECTION #contacts & map===========================>>

section#contacts {
    padding-top: calc(150px + 240px);
    h1 {
        font-family: 'Cormorant', sans-serif;
        text-transform: uppercase;
        color: #264158;
        @include fz(60);
        line-height: 3.4375rem;
        margin-bottom: 64px;
    }
    .contacts_section_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;
    }
    .contacts_wrap {
        display: flex;
        max-width: 739px;
        width: 100%;
        height: 458px;
        background-color: #F9FAFB;
        padding: 58px 53px 50px 53px;
        & a {
            color: #536779;
            text-decoration: none;
            font-family: $font_family;
            font-size: $font_size;
            line-height: 1.67625rem;
            display: flex;
            align-items: center;
            &:hover .icon_contacts {
                fill: #F79781;
            }
            &:hover {
                color: #F79781;
            }
        }
        & .contacts_icons {
            display: flex;
            align-items: center;
            svg {
                margin-right: 16px;
            }
            img {
                margin-right: 16px;
                width: 40px;
                height: 100%;
            }
            .icon_width {
                width: 30px;
            }
            .phone_icon_bold {
                font-weight: 700;
            }
        }
        & p {
            font-weight: 700;
            color: #536779;
            line-height: 2.1875rem;
            @include fz(22);
            margin-bottom: 5px;
        }
    }

    .cont_left_wrap,
    .cont_right_wrap {
        & div {
            margin-bottom: 0px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .cont_left_wrap {
        margin-right: 71px;
        & a {
            margin-bottom: 50px;
        }
    }
    .cont_right_wrap{
        & a {
            text-decoration: underline;
            margin-bottom: 50px;
        }
    }
    .contacts_map_wrap {
        max-width: 628px;
        width: 100%;
        height: 458px;
        // border: 1px solid green;
        & p {
            position: relative;
            color: #264158;
            @include fz (20);
            line-height: 3.4375rem;
            margin-bottom: 10px;
            // border: 1px solid red;
        }
        .wrap_map {
            overflow: hidden;
            max-width: 628px;
            width: 100%;
            height: 393px;
            // border: 1px solid pink;
            // border-bottom-right-radius: 60% 100%;
            border-radius: 0 0 400px 0;
            cursor: pointer;
            
        }
        .popup {
            display: flex;
            flex-direction: column;
            z-index: 27;
            p {
                @include fz(18);
                line-height: 1rem;
                margin-bottom: 5px;
            }
            img {
                width: 50px;
                height: 50px;
                align-self: center;
                margin-bottom: 15px;
            }
        }
        .map_arrow::after {
            display: block;
            content: url(@/assets/images/map-arrow.svg);
            width: 138px;
            height: 95px;
            position: absolute;
            top: 45%;
            left: 36%;
            z-index: 26;
        }
    }
    #map {
        height: 393px;
        z-index: 25;
        position: relative;
        opacity: 0.85;
        // border: 1px solid blue;
        img {
            object-fit: cover;
            object-position: 35.5% 50%;
        }
        .opacity {
            opacity: 0.85;
        }
    }

}


// <<===========================SECTION #contact_form===========================>>

section#contact_form {
    padding-bottom: 150px;
    & .wrap_p_form {
        max-width: 511px;
        width: 100%;
        height: 70px;
        margin-bottom: 40px;
    }    
    & .wrap_p_form {
        max-width: 511px;
        width: 100%;
        height: 70px;
        margin-bottom: 40px;
    }
    form {
        display: flex;
        justify-content: space-between;
    }

}



// <<===========================SECTION #for_psychologists===========================>>
section#for_psychologists {
    padding-top: calc(150px + 240px);
    margin-bottom: 143px;
    .psychologists_content_wrap {
        display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around; // Зробити при адаптиві і прибрати margin right в wrap_img
        justify-content: flex-start;
        gap: 75px;
    }
    .wrap_img {
        max-width: 614px;
        width: 100%;
        height: 651px;
        overflow: hidden;
        // border-top-left-radius: 65% 65%;
        border-radius: 400px 400px 0 0;
        // border: 1px solid green;
        // margin-right: 75px;
        img {
            &:hover {
                transform: scale(1.1);
            }
        }

    }
    .wrap_content {
        max-width: 652px;
        width: 100%;
        font-size: 20px;
        line-height: 2.375rem;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        // border: 1px solid red;
        &::after {
            content: '';
            position: absolute;
            top: -390px;
            left: -270px;
            max-width: 1020px;
            width: 200%;
            // width: 1020px;
            height: 1100px;
            background-color: #F9FAFB;
            z-index: -1;
        }
        // border: 1px solid pink;
        // padding: 40px 0 60px;
    }
    h1 {
        margin-bottom: 60px;
    }
    p {
        position: relative;
        padding-left: calc(40px + 13px);
        margin-bottom: 50px;
        // border: 1px solid pink;

        &:last-of-type {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            display:inline;
            position: absolute;
            top: 22px;
            left: 0;
            width: 40px;
            height: 3px;
            background-color: #D3DDE6;
        }
    }
}

section#for_psychologists_form {
    padding-bottom: 150px;
    h2 {
        color: #264158;
        @include fz(60);
        line-height: 3.4375rem;
        font-family: 'Cormorant', sans-serif;
        text-transform: uppercase;
        margin-bottom: 75px;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}



// <<===========================SECTION #payment===========================>>
section#payment {
    padding-top: calc(150px + 240px);
    margin-bottom: 150px;


    .wrap_img {
        max-width: 642px;
        width: 100%;
        // width: 100%;
        height: 484px;
        overflow: hidden;
        border-radius: 0 400px 0 0;
        // border: 1px solid red;
        // &_reverse {
        //     border-radius: 400px 0 0 0;

        // }
        img {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .payment_method {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        background-color: #F9FAFB;
        border-radius: 0 400px 0 0;
        &_reverse {
            flex-direction: row-reverse;
            border-radius: 400px 0 0 0;
            .wrap_img {
                border-radius: 400px 0 0 0;
            }
        }

    }

    .wrap_content {
        padding: 60px 66px 60px 40px;
        // border: 1px solid red;
        max-width: 777px;
        width: 100%;
        >p {
            position: relative;
            display: block;
            line-height: 2.375rem;
            @include fz(20);
            margin-left: 195px;
            margin-bottom: 40px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                left: -47px;
                width: 34px;
                height: 3px;
                background-color: #D3DDE6;
                // background-color: red;
                
            }
        }
        
        button {
            margin-left: 120px;
        }
    }

    h1 {
        margin-bottom: 80px;
    }
 
    .title_wrap {
        display: flex;
        margin-bottom: 40px;
        // border: 1px solid green;
        p {
            @include fz(110);
            line-height: 3.4375rem;
            font-weight: 700;
            margin-right: 30px;
            color: #D3DDE6;
            text-shadow: 4px 3px 5px rgba(83, 103, 121, 0.37);
        }
        h2 {
            color: #264158;
            padding-top: 10px;
        }

    }

}


// <<===========================SECTION #seminars===========================>>

section#seminars {
    padding-top: calc(150px + 240px);
    margin-bottom: 150px;

    .seminars {
        display: flex;
        margin-bottom: 80px;
        &_reverse {
            flex-direction: row-reverse;
            .wrap_img {
                border-radius: 400px 0 0 0;
            }
        }
    }

    .wrap_img {
        border-radius: 0px 400px 0 0;
        // border: 1px solid red;
        overflow: hidden;
        img {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .wrap_content {
        max-width: 826px;
        width: 100%;
        background-color: #F9FAFB;
        // border: 1px solid red;
        padding: 49px 172px 49px 80px;
        & > p:nth-of-type(1) {
            @include fz(22);
            line-height: 3.4375rem;
        }
        h2 {
            @include fz(30);    
            line-height: 2.25rem;
            color: #264158;
            font-family: 'Cormorant', sans-serif;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        & > p:nth-of-type(2) {
            @include fz(22);
            line-height: 2.375rem;
            position: relative;
            margin-left: 64px;
            margin-bottom: 25px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                left: -63px;
                width: 48px;
                height: 2px;
                background-color: #536779;
                // background-color: red;
            }
        }

        & .price_seminars_wrap {
            color: #536779;
            @include fz(20);
            line-height: 2.0625rem;
            font-weight: 700;
            margin-bottom: 25px;
            display: flex;
            // flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            & > p:nth-of-type(1) {
                margin-right: 15px;
            }
            & > p:nth-of-type(2) {
                font-family: 'Arsenal', sans-serif;
                @include fz(60);
                line-height: 4.6875rem;
            }
        }
    }

}


// <<===========================SECTION #services===========================>>

section#services {
    padding-top: calc(150px + 240px);
    margin-bottom: 150px;

    .services_list {
        display: flex;
        justify-content: space-between;
        gap: 180px;
        margin-bottom: 80px;
        &_reverse {
            flex-direction: row-reverse;
        }

        .wrap_content {
            display: flex;
            flex-direction: column;
            // padding: 60px 66px 60px 40px;
            // border: 1px solid pink;
            max-width: 880px;
            width: 100%;
            // padding-right: 180px;
            padding-top: 60px;
            position: relative;
            >p {
                position: relative;
                display: block;
                line-height: 2.375rem;
                @include fz(20);
                margin-left: 195px;
                margin-bottom: 40px;
                &.services_about::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 18px;
                    left: -40px;
                    width: 34px;
                    height: 3px;
                    background-color: #D3DDE6;
                    // background-color: red;
                }
            }
            .services_price {
                align-self: flex-end;
                display: flex;
                // border: 1px solid green;
                // align-items: center;
                @include fz(20);
                line-height: 1.5rem;
                & p {
                    margin-left: 15px;
                }
                & span {
                    font-family: 'Arsenal', sans-serif;
                    color: #536779;
                    font-weight: 700;
                    @include fz(60);
                    // line-height: 4.6875rem;
                    margin-bottom: 60px;
                }
            }
    
            .title_wrap {
                display: flex;
                margin-bottom: 70px;
                // border: 1px solid green;
                p {
                    color: #536779;
                    @include fz(110);
                    line-height: 3.4375rem;
                    font-weight: 700;
                    margin-right: 30px;
                    color: #D3DDE6;
                    text-shadow: 4px 3px 5px rgba(83, 103, 121, 0.37);
                    position: relative;
                }
                h2 {
                    color: #264158;
                    padding-top: 10px;
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -22px;
                        left: 22px;
                        max-width: 500px;
                        width: 100%;
                        height: 100px;
                        background-color: #F9FAFB;
                        // background-color: red;
                        z-index: -1;
                    }
                }
        
            }    

            button {
                // margin-left: 150px;
                align-self: center;
            }
    
        }
        
        .wrap_img {
            max-width: 560px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 400px 400px 0 0;
            img {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    
    }
  
    h1 {
        margin-bottom: 50px;
        position: relative;
        &+p {
            @include fz(20);
            line-height: 2.375rem;
            position: relative;
            // border: 1px solid red;
            max-width: 735px;
            width: 100%;
            padding-left: 58px;
            margin-bottom: 150px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 22px;
                left: 0;
                width: 45px;
                height: 3px;
                background-color: #D3DDE6;
                // background-color: red;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            max-width: 1020px;
            width: 100%;
            height: 700px;
            background-color: #F9FAFB;
            top: -390px;
            left: 0;
            z-index: -1;
        }
    }

    
}

// <<===========================SECTION #about-us===========================>>

section#about_us {
    padding-top: calc(115px + 240px);
    margin-bottom: 150px;

    .about_us_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 148px;
    }
    .about_us_title_wrap {
        max-width: 898px;
        width: 100%;
        position: relative;
        padding: 110px 88px 96px 75px;
        h1 {
            // position: relative;
            margin-bottom: 50px;
        }
        > p {
            @include fz(20);
            line-height: 2.375rem;
            padding-left: 60px;
        }
        & p:nth-child(even) {
            position: relative;
            margin-bottom: 40px;
            &::before {
                content: '';
                display:inline;
                position: absolute;
                top: 18px;
                left: 0px;
                width: 45px;
                height: 3px;
                background-color: #D3DDE6;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 1020px;
            // width: 100%;
            height: 1200px;
            background-color: #F9FAFB;
            top: -465px;
            left: -121px;
            z-index: -1;
        }
    }
    .wrap_img {
        // max-width: 542px;
        // width: 100%;
        // height: 100%;
        // border: 1px solid red;
        border-radius: 400px 0 0 0;
        overflow: hidden;
        img {
            &:hover {
                transform: scale(1.1);
            }
        }
    } 

    .five_reasons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        // border: 1px solid red;
        h2 {
            align-self: flex-start;
            text-transform: uppercase;
            font-family: 'Cormorant', sans-serif;
            // font-weight: 700;
            @include fz(60);
            line-height: 3.4375rem;
            position: relative;
            margin-left: 85px;
            margin-bottom: 92px;
            span {
                @include fz(110);
                font-family: 'Montserrat', sans-serif;
                color: #F79781;
                position: absolute;
                top: 0;
                left: -85px;
            }
        }
        .reasons_top,
        .reasons_bottom {
            display: flex;
            justify-content: center;
            font-family:  'Cormorant', sans-serif;
            font-weight: 700;
            @include fz(30);
            line-height: 2.375rem;
            width: 100%;
        }
        .reasons_top {
            margin-bottom: 40px;
        }
        .reason_wrap {
            display: flex;
            flex-direction: column;
            max-width: 473px;
            width: 100%;
            height: 242px;
            background-color: #F9FAFB;
            // padding: 32px 32px 83px; 
            padding-top: 30px;
            padding-left: 30px;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            p {
                align-self: center;
                max-width: 225px;
                width: 100%;
                text-align: center;
            }
            // svg {
            //     width: 40px;
            //     height: 40px;
            // }
        }
    }
}

// <<===========================SECTION #specialists===========================>>
section#specialists {
    margin-bottom: 150px;
    
    h1 {
        margin-bottom: 80px;
    }

    .specialists_item_wrap {
        display: flex;
        &_reverse {
            flex-direction: row-reverse;
            .wrap_img {
                border-radius: 0 400px 0 0;
            }
        }
        margin-bottom: 40px;
    }
    .specialists_wrap {
        max-width: 924px;
        width: 100%;
        background-color: #F9FAFB;
        padding: 42px 25px 42px 71px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .icons_wrap {
            display: flex;
            margin-bottom: 26px;
        }
        .icon_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            svg {
                margin-bottom: 10px;
            }
            p {
                // border: 1px solid red;
                max-width: 190px;
                width: 100%;
                // align-self: center;
                text-align: center;
                color: #264158;
                @include fz(20);
                line-height: 1.5rem;
            }
        }
        .meta_wrap {
            display: flex;
            margin-bottom: 50px;
            p {
                padding: 0 20px;
                border: 1px solid #536779;
                border-radius: 40px;
                margin-right: 15px;
                cursor: pointer;
                transition: all 0.2s ease;
                height: 56px;
                line-height: 3.5rem;
                font-weight: 700;
                @include fz(16);
                text-transform: uppercase;
                &:hover {
                    color: #98C5EB;
                    border: 1px solid #98C5EB;
                }
            }
        }
        h3 {
            font-family: 'Cormorant', sans-serif;
            @include fz(30);
            line-height: 3.4375rem;
            text-transform: uppercase;
            color: #264158;
            margin-bottom: 45px;
        }
        >p {
            position: relative;
            padding-left: 60px;
            @include fz(22);
            line-height: 2.375rem;
            margin-bottom: 50px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 18px;
                left: 0;
                width: 45px;
                height: 2px;
                background-color: #536779;
            }
        }
    }
    .wrap_img {
        // border: 1px solid red;
        // height: 100%;
        height: 686px;
        border-radius: 400px 0 0 0;
        overflow: hidden;
        filter: drop-shadow(3px 3px 5px rgba(75, 104, 130, 0.17));
        img {
            object-position: 0px 0px;
            // transition: all 0.2s ease;
            &:hover {
                transform: scale(1.1);
                // transition: all 0.2s ease;
            }
        }
        
    }

}


// <<===========================SECTION #prices===========================>>

section#prices {
    padding-top: calc(150px + 240px);
    margin-bottom: 150px;

    h1 {
        margin-bottom: calc(120px - 45px); //padding-top of slider
    }
    // .carousel__slide .carousel__slide--visible {
    //     transition: all 1.5s ease;
    // }
    // .carousel__slide .carousel__slide--visible {
    //     transition: all 1.5s ease;
    // }
    // .carousel__slide .carousel__slide--active .carousel__slide--visible {
    //     transition: all 1.5s ease;
    // }
    // .our_prices_slider_item_wrap {
    //     position: relative;
    //     // border: 1px solid red;
    //     height: 675px;
    //     // width: 500px;
    //     overflow;
    // }
    .our_prices_slider_item {
        // position: absolute;
        // top: 0;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(211, 221, 230, 0.4);
        max-width: 440px;
        width: 100%;
        height: 675px;
        cursor: pointer;
        padding: 20px 23px 46px 38px;
        transition: all  0.2s ease;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: -42.5px;
            left: -18px;
            width: 476px;
            height: 760px;
            background: #F9FAFB;
            // background: pink;
            // background: #F9FAFB;
            // border: 1px solid green;
            z-index: -1;
            box-shadow: 0px 0px 5px rgba(152, 197, 235, 0.5);
            display: none;
        }
        &:hover::after {
            // background: #F9FAFB;
            // transform: scale(1.11);
            // max-width: 518px;
            // width: 100%;
            // height: 730px;
            // padding: 40px 43px 66px 58px;
            transition: all 0.2s ease;
            display: block;
        }
        &:hover {
            background: #F9FAFB;
        }

        p {
            align-self: flex-end;
            color: #D3DDE6;
            font-weight: 700;
            @include fz(30);
            line-height: 2.25rem;
            margin-bottom: 15px;
            & span {
                @include fz(16);
                line-height: 1.21875rem;
            }
        }
        h5 {
            text-transform: uppercase;
            @include fz(30);
            line-height: 2.25rem;
            margin-bottom: 30px;
            align-self: flex-start;
            & span {
                align-self: flex-start;
                color: #D3DDE6;
            }
        }
        ul {
            list-style: none;
            margin-bottom: 20px;
            li {
                @include fz(20);
                line-height: 2.375rem;
                position: relative;
                margin-bottom: 25px;
                padding-left: 30px;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 22px;
                    left: 0;
                    width: 12px;
                    height: 4px;
                    background-color: #536779;
                    // border-bottom: 3px solid #536779;
                    // border-left: 3px solid #536779;
                    border-radius: 200px;
                    transform: rotate(55deg);
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: 2px;
                    width: 24px;
                    height: 4px;
                    background-color: #536779;
                    // border-bottom: 3px solid #536779;
                    // border-left: 3px solid #536779;
                    border-radius: 200px;
                    transform: rotate(-58deg);
                }
            }
        }
        .slider_prices_wrap {
            display: flex;
            justify-content: space-between;
            max-width: 440px;
            width: 100%;
            padding-right: 18px;
            & .slider_prices_first_wrap,
              .slider_prices_second_wrap {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                // border: 1px solid red;
                & p:nth-child(odd) {
                    font-family: 'Arsenal', sans-serif;
                    @include fz(60);
                    line-height: 4.6875rem;
                    color: #264158;
                }
                & p:nth-child(even) {
                    @include fz(20);
                    line-height: 1.5rem;
                    color: #264158;
                    align-self: center;
                }
            }
            & .slider_prices_second_wrap {
                & p:nth-child(odd) {
                    color: #F79781;
                }
            }
        }
    }

    .carousel__pagination-button {
        background: linear-gradient(180deg, rgba(247, 151, 129, 0.2) 0%, rgba(242, 218, 213, 0) 100%), rgba(247, 151, 129, 0.7);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .carousel__pagination-button--active {
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(242, 218, 213, 0) 100%), #F79781;
        // width: 30px;
        // height: 30px;
        transform: scale(1.5);
    }
    .carousel__pagination {
        align-items: center;
        // padding-top: 80px;
    }
    .carousel__viewport {
        margin-bottom: 10px;
    }
    .carousel {
        text-align: start;
    }
    .carousel__track {
        padding-top: 45px;
        padding-bottom: 45px;
    }

}

// <<===========================SECTION #successes===========================>>

section#successes {
    padding-top: calc(150px + 240px);
    margin-bottom: 150px;

    h2 {
        text-transform: uppercase;
        color: #264158;
        @include fz(60);
        font-family: 'Cormorant', sans-serif;
        line-height: 3.4375rem;
        margin-bottom: 80px;
    }
    
    .clients_successes_item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        &_reverse {
            flex-direction: row-reverse;
            .wrap_img {
                border-radius: 0 400px 0 0;
            }
        }
    }

    .wrap_img {
        max-width: 422px;
        width: 100%;
        border-radius: 400px 0 0 0;
        overflow: hidden;
        // border: 1px solid red;
        img {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .successes_marker {
        position: relative;
        // border: 1px solid green;
        // &::after {
        //     content: url("data:image/svg+xml,%3Csvg width='175' height='245' viewBox='0 0 175 245' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6033 20.0834C10.6033 20.0834 61.2553 -9.27326 86.966 6.8857C114.051 23.9081 88.6486 79.1944 106.934 87.3403C106.934 87.3403 135.471 100.053 153.757 108.199C172.042 116.345 179.617 68.9373 165.283 51.888C154.239 38.7518 139.026 37.9776 122.689 42.793C88.9593 52.7346 131.046 98.908 125.614 134.206C122.118 156.919 121.583 171.195 109.86 190.859C85.3934 231.899 0.402194 242.802 0.402194 242.802' stroke='%23F79781' stroke-width='3' stroke-dasharray='8 8'/%3E%3C/svg%3E");
        //     // content: url("@/assets/images/successes-line-xl.svg");
        //     display: block;
        //     position: absolute;
        //     top: -10px;
        //     left: 50px;
        //     transform: rotate(-2deg);
        //     // width: 22px;
        //     // height: 10px;
        //     // margin: 10px 5px 0 10px;
        // }
    }

    .clients_successes_block_wrap {
        padding: 36px 210px 0px 80px;
        background-color: #F9FAFB;
        flex-grow: 1;
        & p {
            margin-bottom: 15px;
            color: rgba(83, 103, 121, 0.75);
            font-weight: 700;
            @include fz(20);
            line-height: 1.5rem;
        }
        .success_point {
            p {
                margin-bottom: 25px;
                color: #264158;
                font-weight: 700;
                @include fz(30);
                line-height: 2.25rem;
                text-transform: uppercase;
                & span {
                    color: #F79781;
                }
            }
            &+.clients_successes_text {
                display: flex;
                margin-bottom: 50px;
            }

        }
        // .clients_successes_text:nth-child(2) {
        //     color: #264158;
        //     font-weight: 700;
        //     @include fz(30);
        //     line-height: 2.25rem;
        // }
    }

    .clients_successes_text {
        // border: 1px solid red;
        display: flex;
        align-items: flex-start;
        max-width: 1018px;
        width: 100%;
        position: relative;
        & p {
            color: #264158;
            font-weight: 400;
            @include fz(20);
            line-height: 1.5rem;
            max-width: 645px;
            width: 100%;
        }
        .successes_line {
            position: absolute;
            right: -20%;
            top: 5px;
            transform: rotate(-2deg);
        }
    }

    
}





// <<===========================Footer===========================>>

footer#footer {
    padding-top: 50px;
    padding-bottom: 211px;
    border-top: 2px solid #D3DDE6;
    display: flex;
    & .footer_upper_line {
        display: flex;
        justify-content: flex-start;
        // justify-content: space-between; //for mobile when delete margin-right
    }
    & .wrap_foot_menu {
        display: flex;
        margin-right: 80px;
    }
    & .footer_menu_second {
        margin-right: 40px;
        & li {
            margin-bottom: 24px;
        }
    }
    & .footer_menu_first {
        & li {
            margin-bottom: 24px;
            &:last-of-type {
                font-weight: 700;
                & svg {
                    margin-left: 15px;
                }
            }
        }
        
    }
    & .footer_menu_third {
        margin-bottom: 15px;
        & li {
            // margin-bottom: 15px;
            & a {
                line-height: 2.4375;
                @include fz(20);
                // line-height: 3.4375rem;
            }
        }
    }
    & .socials {
        & ul {
            display: flex;
        }
        
    }
    & ul {
        list-style: none;
        & li {
            & a {
                color: #264158;
                text-decoration: none;
                font-family: $font_family;
                font-size: $font_size;
                line-height: 1.67625rem;
                display: flex;
                align-items: center;
                &:hover {
                    color: #F79781;
                }
                &:hover .footer_wallet {
                    fill: #F79781;
                }
            }
        }
    }
    & .footer_soc_wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 60px;
        background-color: #D3DDE6;
        border-radius: 5px;
        margin-right: 25px;
        & svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover svg {
            fill: #F79781;
        }
    }
    & .footer_logo {
        margin-right: 215.62px;
    }
    & .wrap_soc_menu {
        font-weight: 700;
    }
    & .container {
        position: relative;
    }
    & .footer_contacts_wrap {
        margin-bottom: 25.88px;
        position: absolute; // maybe make position: relative on mobile;
        top: 118px;
        left: 0;
        & a {
            color: #536779;
            text-decoration: none;
            font-family: $font_family;
            font-size: $font_size;
            line-height: 1.67625rem;
            display: flex;
            align-items: center;
            &:hover {
                color: #F79781;
            }
            &:hover .icon_footer {
                fill: #F79781;
            }
        }
        & div {
            margin-bottom: 20px;
            // padding-bottom: 20px;
            & svg {
                margin-right: 15px;
                &.map_icon_mg {
                    margin-right: 20px;
                }
            }
        }
    }
    button {
        position: absolute; // maybe make position: relative on mobile;
        top: 328.88px;
        left: 0;
    }
}


// <<===========================/Footer===========================>>

// <<===========================/404===========================>>
    .not_found {
        padding-top: calc(150px + 240px);
        margin-bottom: 150px;
        text-align: center;
    }


// h1 {
//     @include fz(48);
//     font-weight: 700;
//     letter-spacing: 0.3rem;
//     text-transform: uppercase;
//     color: var(--color-white);
//     margin-bottom: 11px;
// }

// form {
//     max-width: 657px;
//     width: 100%;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     margin-bottom: 109px;
//     outline: 2px;
// }

// input[type=search] {
//     max-width: 500px;
//     width: 100%;
//     height: 60px;
//     text-align: center;
//     border:none;
//     background: var(--color-white);
//     font-family: var(--font-family);
//     font-family: 'Josefin Sans';
//     @include fz(14);
//     letter-spacing: 0.175rem;
//     color: #999999;
//     &:focus {
//         outline: none;
//         border: 2px solid #FF6363;
//     }
// }

// .main_menu {
//     ul {
//         list-style: none;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -ms-flex-wrap: wrap;
//             flex-wrap: wrap;
//         li {
//             margin-right: 42px;
//             a {
//                 color: var(--color-white);
//                 text-decoration: none;
//                 font-family: 'Aleo', sans-serif;
//                 @include fz(14);
//                 text-transform: uppercase;
//                 &:focus {
//                     outline: none;
//                     border: 1px solid var(--color-white);
//                 }
//             }
//             a:hover {
//                 text-decoration: underline;
//             }
//             &:last-of-type {
//                 margin-right: 0px;
//             }

//         }
//     }
// }


// h2 {
//     font-family: 'Aleo', sans-serif;
//     font-weight: 400;
//     @include fz(36);
//     color: var(--color-white);
// }

// #side_block {
//     width: 50%;
//     position: fixed;
//     left: 0;
//     top: 0;
//     color: var(--color-white);
//     background: rgba(84, 116, 253, .5);
//     -webkit-backdrop-filter: blur(50px);
//             backdrop-filter: blur(50px);
//     padding: 20px;
//     height: 100vh;
//     z-index: 12;
//     -webkit-transform: translateX(-100%);
//         -ms-transform: translateX(-100%);
//             transform: translateX(-100%);
//     -webkit-transition: all 0.2s ease;
//     -o-transition: all 0.2s ease;
//     transition: all 0.2s ease;
//     &.open {
//         -webkit-transform: translateX(0);
//             -ms-transform: translateX(0);
//                 transform: translateX(0);
//     }
//     .wrapper {
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -webkit-box-orient: vertical;
//         -webkit-box-direction: normal;
//             -ms-flex-direction: column;
//                 flex-direction: column;
//         -webkit-box-align: center;
//             -ms-flex-align: center;
//                 align-items: center;
//         -webkit-box-pack: start;
//             -ms-flex-pack: start;
//                 justify-content: flex-start;
//     }
//     .header_logo {
//         position: relative;
//         margin-bottom: 60px;
//         img {
//             margin-top: 10px;
//         }
//         &::before {
//             content: ('');
//             position: absolute;
//             width: 50px;
//             height: 30px;
//             top: 0;
//             left: -10px;
//             border-top: 1px solid var(--color-white);
//             border-left: 1px solid var(--color-white);
//         }
//         &::after {
//             content: ('');
//             position: absolute;
//             width: 50px;
//             height: 30px;
//             bottom: -10px;
//             right: -10px;
//             border-bottom: 1px solid var(--color-white);
//             border-right: 1px solid var(--color-white);
//         }
//     }
// }

// #page_overlay {
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,.7);
//     display: none;
//     z-index: 11;
//     &.open {
//         display: block;
//     }
// }

// .mobile_menu {
//     margin-bottom: 60px;
//     ul {
//     list-style: none;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//             flex-direction: column;
//     -webkit-box-pack: start;
//         -ms-flex-pack: start;
//             justify-content: flex-start;
//     @include fz(18);
//     text-align: center;
//     }
//     li {
//         margin-bottom: 20px;
//         a {
//             text-decoration: none;
//             color: var(--color-white);
//             @include fz(30);
//             line-height: 2.375rem;
//         }
//     }
    
// }


.hamb_menu {
    display: none;
}



