// @media screen and (min-width: 2550px) {
//     .first_screen {
//         padding-top: 500px;
//     }
// }

@media screen and (max-width: 1600px) {

    // <<===========================HEADER===========================>>

    header#header {
        & .menu_top_wrap{
            justify-content:space-around;
            & .logo {
                margin-right: 0;
            }
            & .address {
                margin-right: 0;
            }
            & .phone {
                margin-right: 0;
            }
        }
        & .main_menu {
            & ul {
                justify-content: space-around; //for mobile when delete margin-right
                & li {
                    margin-right: 0;
                }
            }
        }
    }

    header#header .main_menu ul li {
        margin-right: 0;
    }
   
    // <<===========================SECTION #contacts & map===========================>>

    section#contacts {    
        padding-top: 390px;
        h1 {
            font-size: 3.4rem;
            line-height: 3.4375rem;
            margin-bottom: 64px;
            text-align: center;
        }
        .contacts_section_wrap {
            flex-direction: column;
            align-items: center;
        }
        .contacts_wrap {
            flex-direction: column;
            max-width: 1440px;
            width: 100%;
            height: 330px;
            margin-bottom: 50px;
        }
        .cont_left_wrap,
        .cont_right_wrap {
            display: flex;
            justify-content: space-around;
            // align-items: center;
        }


    }



    // <<===========================SECTION #contact_form===========================>>

    section#contact_form {
        .wrap_p_form {
            max-width: 1440px;
            text-align: center;
        }

    }

    // <<===========================SECTION #seminars===========================>>
        section#seminars {

            .wrap_img {
                width: 100%;
                // height: 100%;
            }
        }

       // <<===========================SECTION #successes===========================>>


    //    section#successes .clients_successes_text p {
    //         // max-width: 600px;
    //         max-width: calc(100% - 100px);
    //     }

        section#successes .clients_successes_block_wrap .success_point + .clients_successes_text {
            justify-content: space-between;
        }

        section#successes .clients_successes_text .successes_line {
            right: -180px;
        }
       

    // <<===========================SECTION #prices===========================>>

    section#prices .our_prices_slider_item {
        padding-top: 30px;
    }

    section#prices .our_prices_slider_item h5 {
        // font-size: 1.475rem;
        line-height: 2.5rem;
    }
    
    section#prices .our_prices_slider_item ul li {
        font-size: 1.15rem;
        margin-bottom: 20px;
    }

    section#prices .our_prices_slider_item ul {
        margin-bottom: 10px;
    }

    // <<===========================Footer===========================>>

}


@media screen and (max-width: 1530px) {

        // <<===========================SECTION #services===========================>>

        section#services {
            .services_list {
                gap: 50px;
            }
        }

}


@media screen and (max-width: 1430px) {

    // <<===========================SECTION #contact_form===========================>>
    
    section#contact_form {
        padding-bottom: 80px;
        form {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & label {
                margin-bottom: 20px;
            }
            button {
                max-width: 320px;
                width: 100%;            }
            }
    }

    // <<===========================SECTION #for_psychologists===========================>>
    section#for_psychologists .psychologists_content_wrap {
        justify-content: space-between;
        gap: 30px;
    }

    // section#for_psychologists .wrap_content::after {
        // display: none;
    // }
    
    section#for_psychologists .wrap_img {
        // border-top-right-radius: 65% 65%;
        border-radius: 400px 400px 0 0;
    }

    section#for_psychologists h1 {
        font-size: 3.5rem;
    }

    section#for_psychologists_form h2 {
        font-size: 3.5rem;
    }

    section#for_psychologists p {
        font-size: 1.15rem;
    }

    section#for_psychologists .wrap_content {
        max-width: 550px;
        &::after {
            height: 1200px;
        }
    }

    // <<===========================SECTION #successes===========================>>
    section#successes .clients_successes_block_wrap .success_point + .clients_successes_text {
        margin-bottom: 20px;    
    }


}


@media screen and (max-width: 1380px) {
      // <<===========================SECTION #services===========================>>

      section#services .services_list {
        flex-direction: column-reverse;
        align-items: center;
      }

      section#services h1 + p {
        margin-bottom: 100px;
      }
}


@media screen and (max-width: 1350px) {

// <<===========================SECTION #contacts & map===========================>>

    section#contacts {    
        h1 {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
        .contacts_wrap {
            flex-direction: row;
            justify-content: center;
            max-width: 1440px;
            width: 100%;
            height: 400px;
        }
        .cont_left_wrap,
        .cont_right_wrap {
            flex-direction: column;
        }

    }
        // <<===========================SECTION #for_psychologists===========================>>
        section#for_psychologists .psychologists_content_wrap {
            justify-content: space-around;
            gap: 20px;
        }
    
        section#for_psychologists h1 {
            font-size: 3.2rem;
        }

        section#for_psychologists_form h2 {
            font-size: 3.2rem;
        }
    
        section#for_psychologists p {
            font-size: 1.15rem;
        }
    
        section#for_psychologists .wrap_content {
            max-width: 500px;
        }

        // <<===========================SECTION #payment===========================>>

        section#payment .payment_method {
            flex-direction: column;
            align-items: center;
            background-color: #fff
        }

        section#payment .payment_method .wrap_img {
            order: -1;
            border-radius: 400px 400px 0 0;
            // border: 1px solid red;
            // height: 370px;
        }

        section#payment .wrap_content {
            background-color: #F9FAFB;
            max-width: 642px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }



}


@media screen and (max-width: 1300px) {

     // <<===========================Footer===========================>>
     footer#footer {
        .footer_logo {
            margin-right: 120px;
        }
        .footer_menu_third {
             & li {
                 & a {
                     line-height: 2.4375;
                 }
             }
        }
        & ul {
            list-style: none;
            & li {
                & a {
                    font-size: 1.15rem;
                    line-height: 1.67625rem;
                }
            }
        }
     }


}






@media screen and (max-width: 1280px) {

    // <<===========================HEADER===========================>>

    header#header {
        & .menu_top_wrap{
            justify-content:space-between;
            & .address {
                display: none;

            }
            & .phone {
                display: none;
            }
        }
        & .hamb_menu {
            display: block;
        }
        & button {
            order: -1;
            transition: all .2s ease;
        }
    }



    // <<===========================SECTION #contacts & map===========================>>



    // <<===========================SECTION #contact_form===========================>>
    

    // <<===========================Footer===========================>>


}

@media screen and (max-width: 1225px) {
    // <<===========================SECTION #successes===========================>>
    section#successes .clients_successes_item {
        flex-direction: column;
        align-items: center;
    }
    section#successes .wrap_img {
        max-width: 700px;
        width: 100%;
    }
    section#successes .clients_successes_block_wrap {
        max-width: 700px;
        width: 100%;
    }
    section#successes .clients_successes_text .successes_line {
        top: 11px;
        transform: rotate(0deg);
    }

}


@media screen and (max-width: 1200px) {

    // <<===========================HEADER===========================>>

    header#header {
        .menu_bottom_wrap {
            display: none;
        }
        .menu_top_wrap {
            margin-bottom: 25px;
        }
    }



    // <<===========================SECTION #contacts & map===========================>>
    section#contacts {    
        padding-top: 200px;
    }


    // <<===========================SECTION #contact_form===========================>>

    // <<===========================SECTION #for_psychologists===========================>>
    section#for_psychologists {
        padding-top: 200px;
        margin-bottom: 80px;
    }
  
    section#for_psychologists .psychologists_content_wrap {
        // justify-content: space-around;
        // gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    section#for_psychologists h1 {
        // font-size: 3.2rem;
        margin-bottom: 20px;
    }

    section#for_psychologists p {
        // font-size: 1.15rem;
        margin-bottom: 20px;
    }

    section#for_psychologists .wrap_content {
        max-width: 1200px;
        order: -1;
    }

    // <<===========================SECTION #payment===========================>>
    section#payment {
        padding-top: 200px;
        margin-bottom: 80px;
    }

    section#payment .payment_method .wrap_img {
        // max-width: 100%;
        width: 100%;
        height: 100%;
    }

    
    // <<===========================SECTION #seminars===========================>>
      section#seminars {
        padding-top: 200px;
        margin-bottom: 80px;
    }
    

    // <<===========================SECTION #services===========================>>

    section#services {
        padding-top: 200px;
        margin-bottom: 80px;
    }

    // <<===========================SECTION #about-us===========================>>

    section#about_us {
        padding-top: 200px;
        margin-bottom: 80px;
    }
    
    // <<===========================SECTION #prices===========================>>

    section#prices {
        padding-top: 200px;
        margin-bottom: 80px;

        h1 {
            font-size: 3.2rem;
            margin-bottom: 80px;
        }
    }
  
    // <<===========================SECTION #successes===========================>>

    section#successes {
        padding-top: 200px;
        margin-bottom: 80px;

        h2 {
            font-size: 3.2rem;
        }
    }

    section#successes .wrap_img {
        height: 100%;
        width: 100%;
    }

  
    

    // <<===========================Footer===========================>>

    footer#footer {
        padding-bottom: 150px;
        .footer_logo {
            margin-right: 0;
        }
        & ul {
            list-style: none;
            & li {
                & a {
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                }
            }
        }
        .footer_menu_third {
            & li {
                & a {
                    font-size: 1.1rem;
                    line-height: 2.3rem;
                }
            }
        }
        & .wrap_foot_menu {
            margin-right: 0;
        }
        & .footer_menu_second {
            margin-right: 40px;
        }
        .footer_contacts_wrap,
        button {
            position: relative;
            top: 0;
        }
        .btn-centr {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer_upper_line {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 40px;
        }
        .footer_contacts_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            // flex-direction: row;
        }
     }

}

@media screen and (max-width: 1100px) {

    // <<===========================SECTION #seminars===========================>>
    section#seminars {
        
        .seminars {
            flex-direction: column-reverse;
        }
        .wrap_content,
        .wrap_img {
            max-width: 700px;
            width: 100%;
        }
    }
    section#seminars .seminars {
        align-items: center;
    }
}

@media screen and (max-width: 1150px) {

// <<===========================SECTION #prices===========================>>
    section#prices .carousel__viewport {
        margin-bottom: 20px;
    }
}
    
@media screen and (max-width: 1000px) {

    // <<===========================Footer===========================>>

    footer#footer {
        .footer_upper_line {
            flex-direction: column;
            // align-items: flex-start; // 380 px
            .footer_logo {
                margin-bottom: 25px;
            }
            
        }
        .footer_menu_first {
            order: -1;
            margin-right: 80px;
        }
        & ul {
            list-style: none;
            & li {
                & a {
                    font-size: 1.3rem;
                    line-height: 1.4rem;
                }
            }
        }
        .footer_menu_third {
            margin-bottom: 40px;
            & li {
                & a {
                    font-size: 1.3rem;
                    line-height: 2.3rem;
                    margin-bottom: 20px;
                }
            }
        }
        .wrap_foot_menu {
            margin-bottom: 50px;
        }
        .socials {
            margin-bottom: 20px;
        }
        .footer_contacts_wrap {
            // align-items: flex-start; // 380px
        }
        
    }

}



@media screen and (max-width: 860px) {

// <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists .psychologists_content_wrap {
        // justify-content: space-around;
        // gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#for_psychologists h1 {
        // font-size: 3.2rem;
        margin-bottom: 20px;
    }

    section#for_psychologists_form h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    section#for_psychologists_form form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    section#for_psychologists_form {
        padding-bottom: 60px;
    }

    // <<===========================SECTION #seminars===========================>>
  
    section#seminars .wrap_content {
        padding: 50px;
        // position: relative;
        display: flex;
        flex-direction: column;
        // align-items: center;
    
    }

}

@media screen and (max-width: 790px) {
    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists .wrap_content::after {
        content: '';
            top: -390px;
            left: -50px;
            max-width: 600px;
            width: 100%;
            // height: 300%;
    }
}






@media screen and (max-width: 760px) {
    // <<===========================HEADER===========================>>

    header#header {
        .btn-callback {
            display: none;
        }
    }

    // <<===========================SECTION #contacts & map===========================>>

    section#contacts {    
        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }
        .contacts_wrap {
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
        .cont_left_wrap,
        .cont_right_wrap {
            flex-direction: column;
            .contacts_icons {
                margin-bottom: 20px;
            }
        }
        .cont_left_wrap {
            // margin-bottom: 60px;
            & div:last-child {
                margin-bottom: 60px;
            }
        }
        .address {
            order: -1;
        }
    
    }

    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists .wrap_img {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    // <<===========================SECTION #services===========================>>
    section#services h1 + p {
        margin-bottom: 70px;
    }

    // <<===========================SECTION #successes===========================>>
    section#successes .clients_successes_block_wrap .success_point + .clients_successes_text{
        align-items: center;     
    }        
    section#successes .clients_successes_text .successes_line {
        top: 50px;
        right: -210px;
        transform: rotate(2deg);
    }
    .line_path {
        height: 277px;
        width: 216px;
    }
    section#successes .clients_successes_text p {
        // font-size: 1rem;
    }

     // <<===========================SECTION #prices===========================>>

    section#prices h1 {
            font-size: 3rem;
            margin-bottom: 40px;
    }

}

@media screen and (max-width: 740px) {
// <<===========================SECTION #successes===========================>>

    section#successes .clients_successes_text p {
        font-size: 1rem;
    }

    // <<===========================SECTION #successes===========================>>

    section#successes {
        h2 {
            font-size: 3rem;
        }
    }
}
    

@media screen and (max-width: 720px) {
    // <<===========================SECTION #payment===========================>>

    // section#payment .payment_method .wrap_img {
    //     // max-height: 330px;
    //     width: 100%;
    //     height: 100%;
    //     border: 1px solid red
    // }
    
    section#payment .title_wrap {
        p {
            display: none;
        }
    }
    
    section#payment .wrap_content > p {
        margin-left: 30px;
    }

    section#payment .wrap_content button {
        margin-left: 0;
    }

    // <<===========================SECTION #services===========================>>
    section#services .services_list .wrap_content > p {
        margin-left: 50px;
    }

    section#services .services_list .wrap_content .title_wrap p {
        font-size: 6rem;
    }

    section#services .services_list .wrap_content .title_wrap h2 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

}

@media screen and (max-width: 690px) {

    // <<===========================SECTION #successes===========================>>

    section#successes {
        h2 {
            font-size: 2.5rem;
        }
    }
}


@media screen and (max-width: 670px) {
    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists h1 {
        font-size: 2.8rem;
    }

    section#for_psychologists_form h2 {
        font-size: 2.5rem;
    }

    section#for_psychologists {
        padding-top: 200px;
    }

    // <<===========================SECTION #payment===========================>>
    section#payment h1 {
        font-size: 2.8rem;
    }

    // <<===========================SECTION #services===========================>>

    section#services h1 {
        font-size: 2.8rem;
    }

// <<===========================SECTION #successes===========================>>
    section#successes .clients_successes_block_wrap .success_point + .clients_successes_text {
        flex-direction: column-reverse;
        // max-width: 500px;
        // width: 100%;
    }
    section#successes .clients_successes_text {
        width: 150%;
    }
    section#successes .clients_successes_text .successes_line {
        right: -21%;
        top: 2%;
    }
    

}



@media screen and (max-width: 660px) {

    // <<===========================SECTION #contacts & map===========================>>

    section#contacts {
        .contacts_map_wrap {
            .map_arrow::after {
                display: none;
            }
        }

    }

    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists {
        margin-bottom: 40px;    
    }


}


@media screen and (max-width: 620px) {

    // <<===========================SECTION #services===========================>>
       section#services h1::after {
        height: 760px
       }


    // <<===========================SECTION #services===========================>>

    section#services .services_list .wrap_content .title_wrap p {
        font-size: 5rem;
    }

    section#services .services_list .wrap_content .title_wrap h2 {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    section#services .services_list .wrap_content > p {
        font-size: 1.15rem;
    }
    section#services .services_list .wrap_content .title_wrap {
        align-items: center;
    }

}

@media screen and (max-width: 600px) {

    // <<===========================SECTION #contacts & map===========================>>

    section#contacts {
        .cont_left_wrap {
            margin-right: 0;
        }
        .contacts_wrap{
            a {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }
    } 

    // <<===========================SECTION #contact_form===========================>>

    section#contact_form {
        .wrap_p_form {
            // max-width: 300px;
            // width: 100%;
            // height: 70px;
            // text-align: center;
            // border: 1px solid pink;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 1.275rem;
            line-height: 2rem;
            height: 100%;
        }
    }

    // <<===========================SECTION #seminars===========================>>

    section#seminars .wrap_content {
        h2 {
            font-size: 1.675rem;
        }
        & > p:nth-of-type(2) {
            font-size: 1.2rem;
            line-height: 2.5rem;
        }
    
    }

    // <<===========================SECTION #successes===========================>>

    section#successes .clients_successes_block_wrap {
        padding: 50px;
    }

    section#successes .clients_successes_text {
        width: 80%;
    }
    section#successes .clients_successes_text .successes_line {
        right: -38%;
        top: 30%;
    }
    .line_path {
        height: 207px;
        width: 126px;
    }

    section#successes .clients_successes_block_wrap .success_point + .clients_successes_text {
        flex-direction: row;
    }

    section#successes .clients_successes_text p {
        line-height: 1.25rem;
    }
    
    section#successes .clients_successes_block_wrap .success_point p {
        margin-bottom: 0px;
        font-size: 1.125rem;
    }
    
    .successes_marker {
        transform: scale(0.7);
    }
    
}


@media screen and (max-width: 575px) {

    // <<===========================SECTION #successes===========================>>

    section#successes {
        h2 {
            font-size: 2.3rem;
        }
    }
}

@media screen and (max-width: 560px) {
    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists h1 {
        font-size: 2.5rem;
    }

    section#for_psychologists p {
        font-size: 1rem;
    }

    section#for_psychologists_form h2 {
        font-size: 2.1rem;
    }

     // <<===========================SECTION #successes===========================>>

     .successes_line {
        display: none;
    }
    
    section#successes .clients_successes_block_wrap .success_point + .clients_successes_text {
        flex-direction: column-reverse;
    }

    section#successes .clients_successes_text {
        width: 100%;
    }

    section#successes .clients_successes_block_wrap {
        padding: 15px;
    }


    
    
}


@media screen and (max-width: 520px) {

     // <<===========================SECTION #services===========================>>
     section#services h1 + p {
        font-size: 1.1rem;
        line-height: 2.2rem;
     }

     
    section#services .services_list .wrap_content .title_wrap h2::after {
        top: -10px;
    }

    section#services h1 + p::before {
        top: 15px;
    }
    

}

@media screen and (max-width: 490px) {

    // <<===========================SECTION #contacts & map===========================>>

    // section#contacts {
    //     .contacts_wrap{
    //         a {
    //             font-size: 1.1rem;
    //             line-height: 1.2rem;
    //         }
    //     }
    // } 


    section#contacts {    
        .cont_left_wrap div:last-child {
            margin-bottom: 25px;
        }
        .contacts_section_wrap {
            .contacts_wrap {
                // padding-left: 29px;
                // padding-right: 25px;
                padding: 15px;
            }
        }
        .cont_left_wrap div,
        .cont_right_wrap div {
            & div {
                margin-bottom: 0px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .cont_left_wrap .contacts_icons, 
        .cont_right_wrap .contacts_icons {
            margin-bottom: 10px;
        }

    }

    section#contacts .cont_left_wrap div, section#contacts .cont_right_wrap div {
        margin-bottom: 25px;
    }


    // <<===========================SECTION #contact_form===========================>>

    section#contact_form {
        .wrap_p_form {
            text-align: left;
        }
    }

    section#contact_form .wrap_p_form {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    section#contact_form form label {
        margin-bottom: 10px;
    }

    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists h1 {
        font-size: 2.2rem;
    }

    section#for_psychologists_form h2 {
        font-size: 2rem;
    }

    // <<===========================SECTION #payment===========================>>
    section#payment .wrap_content > p {
        font-size: 1rem;
        margin-left: 50px;
    }

    section#payment .wrap_content {
        padding: 10px 10px 30px 10px;
    }

    .btn_red {
        width: 247px;
        font-size: 1rem;
        height: 56px;
    }

    section#payment .title_wrap h2 {
        padding-top: 15px;
    }

    section#payment .title_wrap {
        margin-bottom: 20px;
    }

    // <<===========================SECTION #seminars===========================>>

    section#seminars .wrap_content {
        h2 {
            font-size: 1.5rem;
        }
        & > p:nth-of-type(2) {
            font-size: 1.1rem;
            line-height: 2.2rem;
        }
        & .price_seminars_wrap {
          
            & > p:nth-of-type(1) {
                font-size: 1.15rem;
            }
            & > p:nth-of-type(2) {
                font-size: 3.2rem;
                line-height: 4rem;
            }
        }
    
    }


    // <<===========================SECTION #prices===========================>>

    section#prices .btn_red {
        align-self: center;
    }
    
    section#prices .our_prices_slider_item {
        height: 630px
    }



    // <<===========================Footer===========================>>

    footer#footer {
        .footer_upper_line {
            align-items: flex-start; // 380 px
        }
        .footer_contacts_wrap {
            align-items: flex-start; // 380px
        }
    }
        
}


@media screen and (max-width: 450px) {
    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists h1 {
        font-size: 2rem;
    }

    section#for_psychologists_form h2 {
        font-size: 1.8rem;
    }
    
    // <<===========================SECTION #seminars===========================>>

    section#seminars .wrap_content {
        padding: 20px 20px 40px;

        h2 {
            font-size: 1.125rem;
        }

        & > p:nth-of-type(2) {
            font-size: 1rem;
            line-height: 2rem;
            margin-left: 24px;
            &::before {
                top: 16px;
                left: -30px;
                width: 20px;
          
            }
        }
    }
    
 }

 @media screen and (max-width: 430px) {
     // <<===========================SECTION #services===========================>>
    
     section#services h1::after {
        height: 780px;
     }

    // <<===========================SECTION #prices===========================>>

    section#prices .our_prices_slider_item h5 {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }
    section#prices .our_prices_slider_item ul li {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    section#prices .our_prices_slider_item .slider_prices_wrap .slider_prices_first_wrap p:nth-child(odd), section#prices .our_prices_slider_item .slider_prices_wrap .slider_prices_second_wrap p:nth-child(odd) {
        font-size: 3.2rem;
        margin-bottom: 0;
    }
    section#prices .our_prices_slider_item {
        height: 570px
    }

 }

@media screen and (max-width: 410px) {

    // <<===========================HEADER===========================>>

  
            .logo,
            .footer_logo {
                width: 185px;
                height: 62px;
            }
 




    // <<===========================SECTION #contacts & map===========================>>
    
    section#contacts {
        .contacts_map_wrap {
            max-width: 352px;
            width: 100%;
            height: 229px;
            // border: 1px solid rgb(214, 117, 25);
            .wrap_map {
                overflow: hidden;
                max-width: 352px;
                width: 100%;
                height: 229px;
                // border: 1px solid pink;
                border-bottom-right-radius: 60% 100%;
            }
        
        }
    }

    section#contacts .contacts_section_wrap {
        margin-bottom: 90px;
    }




    // <<===========================SECTION #contact_form===========================>>

    section#contacts {
        h1 {
            font-size: 1.5625rem;
            line-height: 1.875rem;
            text-align: left;
            margin-bottom: 16px;
        }
        .contacts_wrap{
            p {
                font-size: 1.125rem;
                line-height: 2.1875rem;
            }
            .contacts_icons {
                display: flex;
                align-items: center;
                // flex-direction: column;
                // align-items: flex-start;
                svg {
                    width: 23px;
                    // transform-origin: 0px 0px;
                    overflow: visible;
                    transform: scale(1.4);
                    // top: 40%;
                    // left: 33%;
                    top: 10%;
                    left: 15%;
                    margin-right: 15px;
                    // margin-bottom: 10px;
                }
            }
            // padding-left: 29px;
            a {
                font-size: 1rem;
                line-height: 1.875rem;
            }
        }
    }

    // <<===========================SECTION #for_psychologists===========================>>
  
    section#for_psychologists {
        padding-top: 160px;
        .wrap_content {
            max-width: 550px;
            &::after {
                top: -180px;
                height: 1300px;
            }
        }
    }



    // <<===========================Footer===========================>>

    footer#footer .footer_menu_first {
        margin-right: 19px;
    }

    footer#footer ul li a {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    footer#footer .footer_soc_wrap {
        width: 40px;
        height: 40px;
    }
    footer#footer .socials {
        margin-bottom: 40px;
    }
    footer#footer .footer_contacts_wrap div svg{
        width: 23px;
        transform: scale(0.8);
        overflow: visible;
        // left: 37%;
        top: 10%;
        left: 15%;
        margin-right: 20px;
        margin-right: 20px;
        &.map_icon_mg {
            margin-left: 5px;
            margin-right: 20px;
        }
    }
    footer#footer .footer_menu_third li a {
        font-size: 1.125rem;
        line-height: 2.4375;
    }

    footer#footer .wrap_foot_menu {
        margin-bottom: 0;
    }
    .wrap_soc_menu {
        display: flex;
        flex-direction: column-reverse;
    }

    footer#footer .footer_menu_third {
        margin-bottom: 0;
    }

    footer#footer .footer_upper_line {
        margin-bottom: 0;
    }

    .icon_footer {
        width: 23px;
        overflow: visible;
        svg {
            width: 23px;
            overflow: visible;
            transform: scale(0.8);
            top: 10%;
            left: 15%;
            margin-right: 20px;

        }
    }

    footer#footer .footer_contacts_wrap a, footer#footer ul li a {
        font-size: 1rem;
        line-height: 1.875rem;
    }

    footer#footer .footer_contacts_wrap {
        margin-bottom: 10px;
    }

    footer#footer {
        padding-bottom: 35px;
    }
        
}

@media screen and (max-width: 405px) {
    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists h1 {
        font-size: 1.8rem;
    }

    section#for_psychologists_form h2 {
        font-size: 1.6rem;
    }

    // <<===========================SECTION #services===========================>>

    section#services h1::after {
        height: 820px;
    }

}



@media screen and (max-width: 375px) {

    // <<===========================SECTION #contacts & map===========================>>

        section#contacts {
            #map,
            .map {
                img {
                    object-position: 39.5% 50%;
                }
            }
            .contacts_map_wrap {
                .map_arrow::after {
                    display: block;
                    content: url(@/assets/images/map-arrow-s.svg);
                    width: 100px;
                    height: 30px;
                    top: 52%;
                    left: 60%;
                }
                p {
                    font-size: 1.1rem;
                }  
            }
        }

   
        // <<===========================SECTION #for_psychologists===========================>>
    
        section#for_psychologists .wrap_content::after {
            content: '';
                // top: -390px;
                // left: -50px;
                max-width: 300px;
                // width: 100%;
                // height: 300%;
        }

         // <<===========================SECTION #services===========================>>

            section#services h1 {
            font-size: 1.5625rem;
            line-height: 1.8925rem;
            + p {
                font-size: 1rem;
                line-height: 1.375rem;
            }
        }

        section#services .services_list .wrap_content .title_wrap p {
            font-size: 4.375rem;
        }
        
        section#services .services_list .wrap_content .title_wrap h2 {
            font-size: 1.125rem;
        }

        section#services .services_list .wrap_content > p {
            font-size: 1rem;
            line-height: 1.375rem;
        }

        section#services .services_list .wrap_content .services_price {
            font-size: 1rem;
            line-height: 1.25rem;
        }

        section#services .services_list .wrap_content .services_price span {
            font-size: 1.875rem;
            line-height: 1.2rem;
        }
        section#services .services_list .wrap_content .services_price p {
            margin-right: 5px;
        }

        section#services .services_list .wrap_content > p.services_about::before {
            top: 9px;
        }

        section#services .services_list .wrap_content .title_wrap h2::after {
            width: 95%;
        }

        section#services h1::after {
            height: 680px;
            width: 85%;
        }

    // <<===========================SECTION #prices===========================>>

    section#prices .our_prices_slider_item {
        padding: 15px;
    }

    section#prices .our_prices_slider_item .slider_prices_wrap .slider_prices_first_wrap p:nth-child(odd), section#prices .our_prices_slider_item .slider_prices_wrap .slider_prices_second_wrap p:nth-child(odd) {
        font-size: 2.5rem;
    }

    section#prices .our_prices_slider_item {
        height: 560px
    }

}

@media screen and (max-width: 360px) {
    // <<===========================SECTION #for_psychologists===========================>>

    section#for_psychologists h1 {
        font-size: 1.7rem;
    }

    section#for_psychologists_form h2 {
        font-size: 1.43rem;
    }

    // <<===========================SECTION #payment===========================>>
    section#payment .title_wrap h2 {
        font-size: 1.125rem;
    }

}

@media screen and (max-width: 350px) {
    // <<===========================SECTION #contacts & map===========================>>
    section#contacts .contacts_map_wrap p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 325px) {

    // <<===========================SECTION #successes===========================>>

    section#successes {
        h2 {
            font-size: 2rem;
        }
    }
}
