@media screen and (max-width: 1600px) {
  header#header .menu_top_wrap {
    justify-content: space-around;
  }
  header#header .menu_top_wrap .logo {
    margin-right: 0;
  }
  header#header .menu_top_wrap .address {
    margin-right: 0;
  }
  header#header .menu_top_wrap .phone {
    margin-right: 0;
  }
  header#header .main_menu ul {
    justify-content: space-around;
  }
  header#header .main_menu ul li {
    margin-right: 0;
  }

  section#contacts {
    padding-top: 80px;
  }
  section#contacts h1 {
    font-size: 3.4rem;
    line-height: 3.4375rem;
    margin-bottom: 64px;
    text-align: center;
  }
  section#contacts .contacts_section_wrap {
    flex-direction: column;
    align-items: center;
  }
  section#contacts .contacts_wrap {
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: 330px;
    margin-bottom: 50px;
  }
  section#contacts .cont_left_wrap,
section#contacts .cont_right_wrap {
    display: flex;
    justify-content: space-around;
  }

  section#contact_form .wrap_p_form {
    max-width: 1440px;
    text-align: center;
  }
}
@media screen and (max-width: 1430px) {
  section#contact_form {
    padding-bottom: 80px;
  }
  section#contact_form form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section#contact_form form label {
    margin-bottom: 20px;
  }
  section#contact_form form button {
    max-width: 320px;
    width: 100%;
  }
}
@media screen and (max-width: 1350px) {
  section#contacts h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  section#contacts .contacts_wrap {
    flex-direction: row;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    height: 400px;
  }
  section#contacts .cont_left_wrap,
section#contacts .cont_right_wrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 1300px) {
  footer#footer .footer_logo {
    margin-right: 120px;
  }
  footer#footer .footer_menu_third li a {
    line-height: 2.4375;
  }
  footer#footer ul {
    list-style: none;
  }
  footer#footer ul li a {
    font-size: 1.15rem;
    line-height: 1.67625rem;
  }
}
@media screen and (max-width: 1280px) {
  header#header .menu_top_wrap {
    justify-content: space-between;
  }
  header#header .menu_top_wrap .address {
    display: none;
  }
  header#header .menu_top_wrap .phone {
    display: none;
  }
  header#header .hamb_menu {
    display: block;
  }
  header#header button {
    order: -1;
    transition: all 0.2s ease;
  }
}
@media screen and (max-width: 1200px) {
  header#header .menu_bottom_wrap {
    display: none;
  }
  header#header .menu_top_wrap {
    margin-bottom: 25px;
  }

  footer#footer {
    padding-bottom: 150px;
  }
  footer#footer .footer_logo {
    margin-right: 0;
  }
  footer#footer ul {
    list-style: none;
  }
  footer#footer ul li a {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  footer#footer .footer_menu_third li a {
    font-size: 1.1rem;
    line-height: 2.3rem;
  }
  footer#footer .wrap_foot_menu {
    margin-right: 0;
  }
  footer#footer .footer_menu_second {
    margin-right: 40px;
  }
  footer#footer .footer_contacts_wrap,
footer#footer button {
    position: relative;
    top: 0;
  }
  footer#footer .btn-centr {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer#footer .footer_upper_line {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
  }
  footer#footer .footer_contacts_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  footer#footer .footer_upper_line {
    flex-direction: column;
  }
  footer#footer .footer_upper_line .footer_logo {
    margin-bottom: 25px;
  }
  footer#footer .footer_menu_first {
    order: -1;
    margin-right: 80px;
  }
  footer#footer ul {
    list-style: none;
  }
  footer#footer ul li a {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
  footer#footer .footer_menu_third {
    margin-bottom: 40px;
  }
  footer#footer .footer_menu_third li a {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 20px;
  }
  footer#footer .wrap_foot_menu {
    margin-bottom: 50px;
  }
  footer#footer .socials {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 760px) {
  header#header .btn-callback {
    display: none;
  }

  section#contacts h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  section#contacts .contacts_wrap {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  section#contacts .cont_left_wrap,
section#contacts .cont_right_wrap {
    flex-direction: column;
  }
  section#contacts .cont_left_wrap div:last-child {
    margin-bottom: 60px;
  }
  section#contacts .address {
    order: -1;
  }
}
@media screen and (max-width: 660px) {
  section#contacts .contacts_map_wrap .map_arrow::after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  section#contacts .cont_left_wrap {
    margin-right: 0;
  }
  section#contacts .contacts_wrap a {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  section#contact_form .wrap_p_form {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.275rem;
    line-height: 2rem;
    height: 100%;
  }
}
@media screen and (max-width: 490px) {
  section#contacts .cont_left_wrap div:last-child {
    margin-bottom: 25px;
  }
  section#contacts .contacts_section_wrap .contacts_wrap {
    padding: 27px 25px 26px 29px;
  }

  section#contacts .cont_left_wrap div, section#contacts .cont_right_wrap div {
    margin-bottom: 25px;
  }

  section#contact_form .wrap_p_form {
    text-align: left;
  }

  section#contact_form .wrap_p_form {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  section#contact_form form label {
    margin-bottom: 10px;
  }

  footer#footer .footer_upper_line {
    align-items: flex-start;
  }
  footer#footer .footer_contacts_wrap {
    align-items: flex-start;
  }
}
@media screen and (max-width: 410px) {
  .logo,
.footer_logo {
    width: 185px;
    height: 62px;
  }

  section#contacts .contacts_map_wrap {
    max-width: 352px;
    width: 100%;
    height: 229px;
  }
  section#contacts .contacts_map_wrap .wrap_map {
    overflow: hidden;
    max-width: 352px;
    width: 100%;
    height: 229px;
    border-bottom-right-radius: 60% 100%;
  }

  section#contacts .contacts_section_wrap {
    margin-bottom: 90px;
  }

  section#contacts h1 {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    text-align: left;
    margin-bottom: 16px;
  }
  section#contacts .contacts_wrap p {
    font-size: 1.125rem;
    line-height: 2.1875rem;
  }
  section#contacts .contacts_wrap .contacts_icons svg {
    width: 23px;
    margin-right: 10px;
  }
  section#contacts .contacts_wrap a {
    font-size: 1rem;
    line-height: 1.875rem;
  }

  footer#footer .footer_menu_first {
    margin-right: 19px;
  }

  footer#footer ul li a {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  footer#footer .footer_soc_wrap {
    width: 40px;
    height: 40px;
  }
  footer#footer .footer_soc_wrap svg {
    width: 20px;
  }

  footer#footer .socials {
    margin-bottom: 40px;
  }

  footer#footer .footer_menu_third li a {
    font-size: 1.125rem;
    line-height: 2.4375;
  }

  footer#footer .wrap_foot_menu {
    margin-bottom: 0;
  }

  .wrap_soc_menu {
    display: flex;
    flex-direction: column-reverse;
  }

  footer#footer .footer_menu_third {
    margin-bottom: 0;
  }

  footer#footer .footer_upper_line {
    margin-bottom: 0;
  }

  .icon_footer {
    width: 23px;
  }

  footer#footer .footer_contacts_wrap a, footer#footer ul li a {
    font-size: 1rem;
    line-height: 1.875rem;
  }

  footer#footer .footer_contacts_wrap {
    margin-bottom: 10px;
  }

  footer#footer {
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 375px) {
  section#contacts #map img {
    object-position: 39.5% 50%;
  }
  section#contacts .contacts_map_wrap .map_arrow::after {
    display: block;
    content: url(@/assets/images/map-arrow-s.svg);
    width: 100px;
    height: 30px;
    top: 52%;
    left: 60%;
  }
  section#contacts .contacts_map_wrap p {
    font-size: 1.1rem;
  }
}